# _config.yml

title: "Bottes Redwing Canada"
description: " Nos chaussures préférées"
url: "https://bottes-rewing.ca"
baseurl: ""

author: "J.P. Henri"
lang: "fr"
default_lang: "fr"
languages:
  - fr
  - en
timezone: "America/Toronto"

markdown: kramdown
highlighter: rouge

plugins:
  - jekyll-feed
  - jekyll-seo-tag
  - jekyll-sitemap

collections:
  posts:
    output: true

defaults:
  - scope:
      path: ""
      type: "posts"
    values:
      layout: post
      lang: "fr"
  - scope:
      path: ""
      type: "pages"
    values:
      layout: page
