# Source - https://stackoverflow.com/a
# Posted by Jakob Bagterp, modified by community. See post 'Timeline' for change history
# Retrieved 2025-12-09, License - CC BY-SA 4.0

name: Submit Sitemap to IndexNow

on:
  workflow_run:
    workflows: [pages-build-deployment]
    types: [completed]

jobs:
  submit-sitemap:
    runs-on: ubuntu-latest
    steps:
      - name: Submit sitemap URLs to IndexNow
        uses: jakob-bagterp/index-now-submit-sitemap-action@v1
        with:
          host: bottes-redwing.ca
          api_key: ${{ secrets.INDEX_NOW_API_KEY }}
          api_key_location: https://bottes-redwing.ca/${{ secrets.INDEX_NOW_API_KEY }}.txt
          sitemap_locations: https://bottes-redwing.ca/sitemap.xml
          endpoint: yandex
